/* BASIC */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* Typography */
h1,
h2,
h3,
h4 a {
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

}

/* Buttons */
.btn-standard {
  display: block;
  background-color: white;
  color: #6e8c7a;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: rgb(34, 43, 37, 0.5) 0px 2px 10px;
  width: fit-content;
  margin: 0 auto 0 auto;
}

/* Buttons hover */
.btn-standard:hover {
  background: rgb(253, 106, 33);
  color: white;
  transition: 0.7s;
  transform: translateY(-2px);
}

/* ---------- NAV BAR ---------- */

nav{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

.logo{
    float: left;
    width: 160px;
    height: auto;
    padding-left: 50px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
}

nav ul li{
    float: left;
    display: inline-block;
    background: white;
}

nav ul li a{
    color: #646464;
    text-decoration: none;
    line-height: 70px;
    font-size: 15px;
    padding: 8px 20px;
}

nav ul li a:hover{
    color: #6C8B78;
    background-color: white;

}

nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rbga(0,0,0,0,.3);
}

nav ul ul li a{
    line-height: 50px;
}

/* ---------- RESPONSIVE NAV BAR ---------- */
.show, .icon, input {
    display: none;
}

@media all and (max-width: 968px){
    nav ul{
        font-size: 13px;
        text-align: center;
        margin: 0;
    }
    
    nav ul:hover{
        color: #ffffff;
        background-color: #6C8B78;
    }
    
    .logo{
        padding-left: 30px;
        width: 150px;
        height: auto;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    
    .show{
        display: block;
        color: #646464;
        font: 10px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color: #ffffff;
        background-color: #6C8B78;
    }
    .icon{
        display: block;
        color: #646464;
        position: absolute;
        right: 40px;
        line-height: 80px;
        font-size: 25px;
        cursor: pointer;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
}

/*MAIN CONTENT */
main {
  width: 100%;
}

/* ---------- HERO IMAGE ---------- */

.hero-image {
    background-image: url(../img/hero-bartender.jpg);
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text-boks{
    width: 550px;
    height: 250px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(108, 139, 120, 0.8); 
    color: rgba(108, 139, 120, 0.8);   
    padding: 20px;
}

.beskrivelse{
    margin-top: 8px; 
}


/* ---------- RESPONSIVE HERO IMAGE ---------- */

@media all and (max-width: 968px){
    .hero-text-boks{
        width: 320px;
        height: 450px;
        padding-top: 65px;
    }
    .sidenavn{
        font-size: 24px;
    }
    .beskrivelse{
        margin-top: 20px;
    }
    .btn-indhent{
        margin-top: 20px;
    }
}

/* VI TILBYDER */
.forside-services-article {
  width: 100%;
  margin: 3rem 0 5rem 0;
}

/* VI TILBYDER HEADER */
.article-header {
  color: black;
  text-align: center;
  width: fit-content;
  margin: 0 auto 2rem auto;
}

/* VI TILBYDER GRIDSYSTEM */
.forside-services-grid {
  display: grid;
  width: 80%;
  margin: 0 auto 0 auto;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr))
}

/* VI TILBYDER GRIDKORT */
.forside-services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0 2rem 0;
  background: #6D8B79;
  border-radius: 40px;
}

/* GRIDKORT IKONER */
.forside-services-card img {
  width: 100%;
  height: 100px;
  margin-bottom: 2rem;
  fill: cyan;
}

/* GRIDKORT TEXT */
.forside-services-card p {
  margin: 2rem 0 2rem 0;
  width: 80%;
}

/********* FORSIDE INSPIRATIONS ARTIKLER **************/
.forside-inspiration-article {
  display: grid;
  grid-template-rows: 2fr;
  position: relative;
}

/*ARTIKEL VENSTRE BILLEDE */
.left-grid-article {
  grid-template-columns: 1.5fr 1fr;
}

/*ARTIKEL HØJRE BILLEDE */
.right-grid-article {
  grid-template-columns: 1fr 1.5fr;
}

/*ARTIKEL BILLEDE */
.forside-inspiration-article img {
  width: 100%;
  height: auto;
}

/*ARTIKEL TEXT DIV */
.forside-inspiration-article div {
  text-align: center;
  background-color: #6D8B79;
}

/*ARTIKEL TEXT DIV HEADER */
.forside-inspiration-article div h2 {
  margin: 4rem auto 3rem auto;
  width: 80%;
}

/*ARTIKEL TEXT DIV TEXT */
.forside-inspiration-article div p {
  margin: 2rem auto 5rem auto;
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.text-grid {
  background-color: #6D8B79;
  text-align: center;
  padding-bottom: 2rem;
}

/*ARTIKEL TEXT DIV HEADER */
.text-grid h2 {
  margin: 4rem auto 3rem auto;
  width: 80%;
}

/*ARTIKEL TEXT DIV TEXT */
.text-grid p {
  margin: 2rem auto 5rem auto;
  width: 80%;
}

.span-col-2 {
  grid-column: span 2 / auto;
  display: block;
  background-image: url(../img/herotest.jpg);
  background-position: center;
  background-size: cover;
}

.span-col-2 img {
  height: 10px;
  display: block;
}

/************** TESTIMONIALS **********/
.testimonials-wrapper {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto 2rem auto;
  width: 100%;


}
.testimonials-wrapper section {
  width: 14vw;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 15px;
  padding: 20px;
  background-color: #6D8B79;
}

.testimonials-wrapper section img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.testimonials-wrapper p {
  font-size: 0.85rem;
  margin: 1rem 0 0.5rem 0;
}

.testimonials-wrapper span {
  font-weight: bold;
}


/* ---------- OM BARTENDERUDLEJNING ---------- */

.back{
    width: 100%;
    height: 650px;
    background-color: #9FB4A7;
    position: absolute;
}

.storecontainer{
    background-color: #6C8B78;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.lillecontainer{
    width: 450px;
    text-align: center;
    margin: auto;
}

.cocktail{
    width: 450px;
    height: 550px;
}

.omudlejning-h1{
    font-family: verdana, 'sans serif';
    font-size: 30px;
    color: #ffffff;
}

.omudlejning-h2{
    font-family: poppins, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    color: #ffffff;

}


/* ---------- OM TJENERUDLEJNING ---------- */


/************** FOOTER **********/

footer {
  display: flex;
  color: black;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto 5rem auto;
}

footer div {
  width: 18vw;
}

footer h3 {
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
}


footer table {
  width: 100%;
}

footer tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer img {
  height: 50px;
  width: auto;
  margin: 2rem 0 0 0;
}

